<div>
    <!-- /.panel -->
    <div class="row top-buffer">
        <div class="col-lg-8">
            <!--<timeline></timeline>-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Latest news
                </div>
                <div class="panel-body">
                    <timeline></timeline>
                </div>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <chat></chat>

             <!-- /.panel .chat-panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
