<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Rector's orders</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
            <div class="table-responsive">
            <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    Nr</th>
                <th>Date</th>
                <th>
                    Time of operation To</th>
                <th>Time of operation From</th>
                <th>
                    Content			</th>
                <th>
                    Code of the Faculty			</th>

                <th>
                    Programme			</th>
                <th>
                    Year of study			</th>
                <th>
                    Department			</th>
                <th>
                    Course			</th>
            </tr>
            </thead>
            <tbody>
           <tr ng-repeat="order in orders">
               <td>{{order.number}}</td>
               <td>{{order.date}}</td>
               <td>{{order.time_to}}</td>
               <td>{{order.time_from}}</td>
               <td>{{order.content}}</td>
               <td>{{order.faculty}}</td>
               <td>{{order.programme}}</td>
               <td>{{order.study_year}}</td>
               <td>{{order.department}}</td>
               <td>{{order.course}}</td>
           </tr>
            </tbody>
            </table>
            </div>
            </div>
        </div>
    </div>
</div>