<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Payments and bills</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                    <th rowspan="2">
                        Date			</th>
                    <th rowspan="2">
                        Nr
                    </th>
                    <th rowspan="2">
                        Service			</th>
                    <th rowspan="2">
                        Nr. of agreement			</th>

                    <th rowspan="2">
                        Study year			</th>
                    <th rowspan="2">
                        Sum			</th>
                    <th rowspan="2">
                        VAT			</th>
                    <th rowspan="2">
                        Penalty fee			</th>
                    <th rowspan="2">
                        Total of the bill			</th>
                    <th rowspan="2">
                        Sum for payment			</th>
                    <th colspan="2">
                        Paid			</th>
                    <th rowspan="2">
                        Credit			</th>
                    <th rowspan="2">
                        Subject			</th>

                </tr>
                        <tr>
                    <th>
                        Date			</th>
                    <th>
                        Bank			</th>
                </tr>
                    </thead>
                    <tbody>
                        <tr >
                    <td >11.07.2012
                    </td>
                    <td >10600
                    </td>
                    <td  style="text-align:left;">dokumentu noformēšana
                    </td>
                    <td >04203021B1
                    </td>
                    <td >12/13
                    </td>
                    <td  style="text-align:right;">21.34
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">21.34
                </td>
                    <td  style="text-align:right;">21.34
                    </td>
                    <td >11.07.2012
                    </td>
                    <td >Kase Ls
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr>
                    <td >11.07.2012
                    </td>
                    <td >10601
                    </td>
                    <td  style="text-align:left;">septembri-oktobri
                    </td>
                    <td >04203021B1
                    </td>
                    <td >12/13
                    </td>
                    <td  style="text-align:right;">293.11
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">293.11
                </td>
                    <td  style="text-align:right;">293.11
                    </td>
                    <td >31.08.2012
                    </td>
                    <td >Nordea
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr>
                    <td >05.10.2012
                    </td>
                    <td >15304
                    </td>
                    <td  style="text-align:left;">novembri
                    </td>
                    <td >04203021B1
                    </td>
                    <td >12/13
                    </td>
                    <td  style="text-align:right;">146.56
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">146.56
                </td>
                    <td  style="text-align:right;">146.56
                    </td>
                    <td >30.10.2012
                    </td>
                    <td >Nordea
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr>
                    <td >01.11.2012
                    </td>
                    <td >16814
                    </td>
                    <td  style="text-align:left;">decembri
                    </td>
                    <td >04203021B1
                    </td>
                    <td >12/13
                    </td>
                    <td  style="text-align:right;">146.56
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">146.56
                </td>
                    <td  style="text-align:right;">146.56
                    </td>
                    <td >13.11.2012
                    </td>
                    <td >Nordea
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr>
                    <td >01.12.2012
                    </td>
                    <td >17772
                    </td>
                    <td  style="text-align:left;">janvāri
                    </td>
                    <td >04203021B1
                    </td>
                    <td >12/13
                    </td>
                    <td  style="text-align:right;">146.56
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">146.56
                </td>
                    <td  style="text-align:right;">146.56
                    </td>
                    <td >18.12.2012
                    </td>
                    <td >Nordea
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr>
                    <td >21.01.2013
                    </td>
                    <td >388
                    </td>
                    <td  style="text-align:left;">februāri
                    </td>
                    <td >04203021B1
                    </td>
                    <td >12/13
                    </td>
                    <td  style="text-align:right;">146.56
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">146.56
                </td>
                    <td  style="text-align:right;">146.56
                    </td>
                    <td >21.01.2013
                    </td>
                    <td >Nordea
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr>
                    <td >07.06.2013
                    </td>
                    <td >8068
                    </td>
                    <td  style="text-align:left;">2. semestri
                    </td>
                    <td >04203021B13
                    </td>
                    <td >12/13
                    </td>
                    <td  style="text-align:right;">698.00
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">698.00
                </td>
                    <td  style="text-align:right;">698.00
                    </td>
                    <td >07.06.2013
                    </td>
                    <td >SEB banka
                    </td>
                    <td >√
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr>
                    <td >14.06.2013
                    </td>
                    <td >8422
                    </td>
                    <td  style="text-align:left;">februāri
                    </td>
                    <td >04203021B1
                    </td>
                    <td >12/13
                    </td>
                    <td  style="text-align:right;">-146.56
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">-146.56
                </td>
                    <td  style="text-align:right;">-146.56
                    </td>
                    <td >02.07.2013
                    </td>
                    <td >Nordea
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr>
                    <td >25.10.2013
                    </td>
                    <td >14659
                    </td>
                    <td  style="text-align:left;">3. semestri
                    </td>
                    <td >04203021B13
                    </td>
                    <td >13/14
                    </td>
                    <td  style="text-align:right;">698.00
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">698.00
                </td>
                    <td  style="text-align:right;">698.00
                    </td>
                    <td >25.10.2013
                    </td>
                    <td >SEB banka
                    </td>
                    <td >√
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr>
                    <td >16.05.2014
                    </td>
                    <td >7149
                    </td>
                    <td  style="text-align:left;">4. semestri
                    </td>
                    <td >04203021B13
                    </td>
                    <td >13/14
                    </td>
                    <td  style="text-align:right;">698.00
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">698.00
                </td>
                    <td  style="text-align:right;">698.00
                    </td>
                    <td >16.05.2014
                    </td>
                    <td >SEB banka
                    </td>
                    <td >√
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr>
                    <td >27.08.2014
                    </td>
                    <td >10989
                    </td>
                    <td  style="text-align:left;">5. semestri
                    </td>
                    <td >04203021B1
                    </td>
                    <td >14/15
                    </td>
                    <td  style="text-align:right;">150.00
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">150.00
                </td>
                    <td  style="text-align:right;">150.00
                    </td>
                    <td >29.08.2014
                    </td>
                    <td >Nordea
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr >
                    <td >27.08.2014
                    </td>
                    <td >12479
                    </td>
                    <td  style="text-align:left;">septembri
                    </td>
                    <td >04203021B1
                    </td>
                    <td >14/15
                    </td>
                    <td  style="text-align:right;">19.32
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">19.32
                </td>
                    <td  style="text-align:right;">19.32
                    </td>
                    <td >24.09.2014
                    </td>
                    <td >Nordea
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr>
                    <td >01.10.2014
                    </td>
                    <td >12969
                    </td>
                    <td  style="text-align:left;">oktobri
                    </td>
                    <td >04203021B1
                    </td>
                    <td >14/15
                    </td>
                    <td  style="text-align:right;">169.32
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">169.32
                </td>
                    <td  style="text-align:right;">169.32
                    </td>
                    <td >02.10.2014
                    </td>
                    <td >Nordea
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr>
                    <td >03.11.2014
                    </td>
                    <td >14012
                    </td>
                    <td  style="text-align:left;">novembri
                    </td>
                    <td >04203021B1
                    </td>
                    <td >14/15
                    </td>
                    <td  style="text-align:right;">169.32
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">169.32
                </td>
                    <td  style="text-align:right;">169.32
                    </td>
                    <td >03.11.2014
                    </td>
                    <td >Nordea
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr>
                    <td >01.12.2014
                    </td>
                    <td >14938
                    </td>
                    <td  style="text-align:left;">decembri
                    </td>
                    <td >04203021B1
                    </td>
                    <td >14/15
                    </td>
                    <td  style="text-align:right;">169.32
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">169.32
                </td>
                    <td  style="text-align:right;">169.32
                    </td>
                    <td >03.12.2014
                    </td>
                    <td >Nordea
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr>
                    <td >01.01.2015
                    </td>
                    <td >220
                    </td>
                    <td  style="text-align:left;">janvāri
                    </td>
                    <td >04203021B1
                    </td>
                    <td >14/15
                    </td>
                    <td  style="text-align:right;">169.31
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">169.31
                </td>
                    <td  style="text-align:right;">169.31
                    </td>
                    <td >05.01.2015
                    </td>
                    <td >Nordea
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr>
                    <td >04.02.2015
                    </td>
                    <td >1845
                    </td>
                    <td  style="text-align:left;">februāri
                    </td>
                    <td >04203021B1
                    </td>
                    <td >14/15
                    </td>
                    <td  style="text-align:right;">150.00
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">150.00
                </td>
                    <td  style="text-align:right;">150.00
                    </td>
                    <td >04.02.2015
                    </td>
                    <td >Nordea
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr >
                    <td >27.02.2015
                    </td>
                    <td >2414
                    </td>
                    <td  style="text-align:left;">martu
                    </td>
                    <td >04203021B1
                    </td>
                    <td >14/15
                    </td>
                    <td  style="text-align:right;">146.55
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">146.55
                </td>
                    <td  style="text-align:right;">146.55
                    </td>
                    <td >03.03.2015
                    </td>
                    <td >Nordea
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr >
                    <td >01.04.2015
                    </td>
                    <td >4977
                    </td>
                    <td  style="text-align:left;">aprīli
                    </td>
                    <td >04203021B1
                    </td>
                    <td >14/15
                    </td>
                    <td  style="text-align:right;">146.55
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">146.55
                </td>
                    <td  style="text-align:right;">146.55
                    </td>
                    <td >07.04.2015
                    </td>
                    <td >Nordea
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr>
                    <td >01.05.2015
                    </td>
                    <td >5941
                    </td>
                    <td  style="text-align:left;">maiju
                    </td>
                    <td >04203021B1
                    </td>
                    <td >14/15
                    </td>
                    <td  style="text-align:right;">146.55
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">146.55
                </td>
                    <td  style="text-align:right;">146.55
                    </td>
                    <td >05.05.2015
                    </td>
                    <td >Nordea
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr>
                    <td >01.06.2015
                    </td>
                    <td >7157
                    </td>
                    <td  style="text-align:left;">jūniju
                    </td>
                    <td >04203021B1
                    </td>
                    <td >14/15
                    </td>
                    <td  style="text-align:right;">143.11
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">143.11
                </td>
                    <td  style="text-align:right;">143.11
                    </td>
                    <td >04.06.2015
                    </td>
                    <td >Nordea
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr >
                    <td >27.08.2015
                    </td>
                    <td >12434
                    </td>
                    <td  style="text-align:left;">7. semestri
                    </td>
                    <td >04203021B1
                    </td>
                    <td >15/16
                    </td>
                    <td  style="text-align:right;">158.00
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">158.00
                </td>
                    <td  style="text-align:right;">158.00
                    </td>
                    <td >08.09.2015
                    </td>
                    <td >Nordea
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr >
                    <td >01.10.2015
                    </td>
                    <td >13248
                    </td>
                    <td  style="text-align:left;">oktobri
                    </td>
                    <td >04203021B1
                    </td>
                    <td >15/16
                    </td>
                    <td  style="text-align:right;">158.00
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">158.00
                </td>
                    <td  style="text-align:right;">158.00
                    </td>
                    <td >02.10.2015
                    </td>
                    <td >Nordea
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr >
                    <td >02.11.2015
                    </td>
                    <td >14685
                    </td>
                    <td  style="text-align:left;">novembri
                    </td>
                    <td >04203021B1
                    </td>
                    <td >15/16
                    </td>
                    <td  style="text-align:right;">158.00
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">158.00
                </td>
                    <td  style="text-align:right;">158.00
                    </td>
                    <td >03.11.2015
                    </td>
                    <td >Nordea
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr>
                    <td >01.12.2015
                    </td>
                    <td >15888
                    </td>
                    <td  style="text-align:left;">decembri
                    </td>
                    <td >04203021B1
                    </td>
                    <td >15/16
                    </td>
                    <td  style="text-align:right;">158.00
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">158.00
                </td>
                    <td  style="text-align:right;">158.00
                    </td>
                    <td >04.12.2015
                    </td>
                    <td >Nordea
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr>
                    <td >01.01.2016
                    </td>
                    <td >16932
                    </td>
                    <td  style="text-align:left;">janvāri
                    </td>
                    <td >04203021B1
                    </td>
                    <td >15/16
                    </td>
                    <td  style="text-align:right;">158.00
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">158.00
                </td>
                    <td  style="text-align:right;">158.00
                    </td>
                    <td >05.01.2016
                    </td>
                    <td >Nordea
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr>
                    <td >21.01.2016
                    </td>
                    <td >18370
                    </td>
                    <td  style="text-align:left;">februāri
                    </td>
                    <td >04203021B1
                    </td>
                    <td >15/16
                    </td>
                    <td  style="text-align:right;">158.00
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">158.00
                </td>
                    <td  style="text-align:right;">158.00
                    </td>
                    <td >04.02.2016
                    </td>
                    <td >Nordea
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr >
                    <td >01.03.2016
                    </td>
                    <td >21169
                    </td>
                    <td  style="text-align:left;">martu
                    </td>
                    <td >04203021B1
                    </td>
                    <td >15/16
                    </td>
                    <td  style="text-align:right;">158.00
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">158.00
                </td>
                    <td  style="text-align:right;">158.00
                    </td>
                    <td >02.03.2016
                    </td>
                    <td >Nordea
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                        <tr >
                    <td >01.04.2016
                    </td>
                    <td >22026
                    </td>
                    <td  style="text-align:left;">aprīli
                    </td>
                    <td >04203021B1
                    </td>
                    <td >15/16
                    </td>
                    <td  style="text-align:right;">158.00
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">158.00
                </td>
                    <td  style="text-align:right;">158.00
                    </td>
                    <td >05.04.2016
                    </td>
                    <td >Nordea
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>
                </tr>
                        <tr >
                    <td >02.05.2016
                    </td>
                    <td >23111
                    </td>
                    <td  style="text-align:left;">maiju
                    </td>
                    <td >04203021B1
                    </td>
                    <td >15/16
                    </td>
                    <td  style="text-align:right;">158.00
                    </td>
                    <td  style="text-align:right;">0.00
                    </td>
                    <td  style="text-align:right;">0.00

                    </td><td  style="text-align:right;">158.00
                    </td>
                    <td  style="text-align:right;">158.00
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>
                    <td >
                    </td>

                </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>