<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Contacts</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-md-6">
        <!-- Nav tabs -->
        <div class="card">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-target="#main" aria-controls="home" role="tab" data-toggle="tab">Main contacts</a></li>
            <li role="presentation"><a data-target="#sd" aria-controls="profile" role="tab" data-toggle="tab">Studies Department</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="main">
                <ul class="list-group">
                    <li class="list-group-item"><i class="fa fa-fw fa-building"></i> Lomonosova iela 1, Rīga, LV-1019, Latvija</li>
                    <li class="list-group-item"><i class="fa fa-fw fa-phone"></i> Tālr.: (+371) 67 100 661</li>
                    <li class="list-group-item"><i class="fa fa-fw fa-fax"></i> Fakss: (+371) 67 100 660</li>
                    <li class="list-group-item"><i class="fa fa-fw fa-envelope"></i> E-pasts: info@tsi.lv</li>
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="sd">
                <ul class="list-group">
                    <li class="list-group-item"><i class="fa fa-fw fa-clock-o"></i> Opening Hours:
                        <ul>
                            <li>Monday - Friday: 8:30 - 18:30</li>
                            <li>Saturday: 8:30 - 14:00</li>
                        </ul>
                    </li>
                    <li class="list-group-item"><i class="fa fa-fw fa-phone"></i> Phone: 67100661</li>
                    <li class="list-group-item"><i class="fa fa-fw fa-envelope"></i> E-mail: student@tsi.lv</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>