<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Title of the news</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>

            <div class="row news-div">
                <div class="col-md-4">

                    <img class="news thumbnail img-responsive center-block" src="img/news.jpg" alt="">

                </div>
                <div class="col-md-8">
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
                        Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
                        Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
                        Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
                    </p>
                    <a ui-sref="dashboard.home" class="btn btn-default btn-back-to-main" style="margin-bottom: 30px"><i class="fa fa-fw fa-angle-left"></i> Back to main</a>
                </div>
            </div>

